<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>header</title>
<!-- 외부에 있는 css 연결 -->
<link rel="stylesheet" type="text/css" href="/style.css">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> 	<!-- ajax -->
<script type="text/javascript">
	function getUrl() {
		$.ajax({
			url:"/geturl", type:"get", dataType:"json",
			success: function(urlList) {
				console.log(urlList)
				showUrl(urlList)
			}
		})
	}
	
	function showUrl(urlList) {
		$.each(urlList, function(index,item){
			$("#nav_url").append("<li id="+index+"></li>")	//<li id="0"></li>
			a=document.createElement("a");	//a tag 만들어줌
			a.href=item.links[0].href		//경로
			a.innerHTML = item.title		//문자열 넣어줌 //item.links[0].rel
			$("#"+index).append(a)
		})
	}
</script>
</head>
<body onload="getUrl()">	<!-- 경로를 얻어와야하기 때문에 onload 설정 -->
	<div class="wrap">
		<h1 class="title">CARE LAB</h1>
		<hr>
		<nav class="nav">
			<!-- nav -->
			<ul id="nav_url">
		
			</ul>
		</nav>
		<hr>
	</div>

</body>
</html>